<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
          <h1>Classifieds</h1>
          <p class="lead">An online classifieds board for buying and selling stuff built with Ruby on Rails.</p>
          <p>
          <a class="btn btn-primary btn-lg" href="{{ url('all') }}" role="button">View Listings</a>
          <a class="btn btn-primary btn-lg" href="{{ url('create') }}" role="button">Sell your stuff</a>
          </p>
        </div>
    </div>
</div> <!-- end of header .row -->

<div class="row">
    <div class="col-md-3">
        <h2>Categories</h2>
        <a href="#">Automotive</a><br>
        <a href="#">Hunting and Outdoors</a><br>
        <a href="#">Furniture</a><br>
        <a href="#">Computers and Electronics</a>
    </div>

    <div class="col-md-8">    
        <h2>Recent listings</h2>
        <div class="row">
  <% @posts.each do |post| %>    
    <div class="col-md-4">
      <h4><%= post.title %></h4>
      <p><%= post.created_at.strftime("%B %e") %></p>
      <p><%= truncate(post.body, :length => 300) %></p>
      <%= link_to 'Expand', post, class: 'btn btn-success' %>
    </div>  
 <% end %>
 </div> 
    </div>            
</div>

